body, html {
    font-family: "Roboto", sans-serif;
    background: rgb(33, 194, 127);
    height: 100%;
    color: black;
  }

:root {
    text-size-adjust: 100%;
  }

.active {
  color: pink;
}

.query-container {
  position: absolute;
  width: 98%;
  top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: max-content;
  padding-top: 50px;
}

.input-container {
  display: flex;
  flex-direction: row;
}

.output-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 25px;
  margin-bottom: 50px;
  width: 800px;
  padding: 15px;
}

.output-container pre{
  font-family: 'Roboto';
  font-size: 16px;
}

.input-container input {
  width: 600px;
  height: 40px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 24px;
  box-sizing: border-box;
}

.input-container button {
  height: 42px;
  outline: none;
  border: none;
  box-sizing: border-box;
  margin-left: 10px;
  border-radius: 5px;
}

.query-container button:hover {
  filter: brightness(90%);
  cursor: pointer;
}